

/* variables */
:root {
  --btn-width : 80px;
}

.calculator {

  /* dimension */
  min-width: 240px;
  min-height: 320px;
  width: calc(var(--btn-width) * 5);

  /* box */
  border: 3px solid #FF9B6A;
  border-radius: 7px;
  padding: 7px;
}
