

.display-container {

  /* dimension */
  width: 100%;
  min-height: 80px;

  /* layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* expression display */
#expression {
  /* typo */
  font-size: 1.2rem;
  text-align: right;

  /* dimension */
  min-height: 23px;

  /* color */
  color: rgba(0, 0, 0, 0.8);

}
/* #display element, input / result */
#display {
  /* box */
  min-height: 42px;
  /* typo */
  font-size: 2.3rem;
  text-align: right;
}
